:root {
    --primary-color: #850685;
    --secondary-color: #E986E9;
    --shadow-color: #6e116e;
}

* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background-image: linear-gradient(var(--secondary-color), var(--primary-color));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1 {
    font-family: "Orbitron", serif;
    color: white;
    text-shadow: 0 4px 3px var(--shadow-color);
    font-size: 50px;
    margin: 20px;
    text-align: center;
    margin-top: 50px;
}

#qrInput {
    width: 80%;
    display: block;
    margin: 30px auto;
    font-size: 22px;
    padding: 10px;
    border-radius: 10px;
    resize: none;
}

#generateButton {
    width: 80%;
    margin: auto;
    display: block;
    padding: 20px;
    font-size: 22px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}

#generateButton:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

#canvasDiv {
    display: none;
    text-align: center;
    padding: 10px;
    background-color: white;
    width: 180px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
}

#canvasDiv canvas {
    width: 80%;
    margin: auto;
}

#qrParagraph {
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
    word-break: break-all;
}

#divider {
    display: none;
}


@media (min-width: 1200px) {
    
    #centerDiv {
        width: 900px;
        margin: auto;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 80px;
    }

    #qrInput {
        padding: 20px; 
        font-size: 26px;
        margin: 50px auto;
    }

    #divider {
        display: block;
        width: 3px;
        height: 50vh;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0 50px;
    }

    #qrParagraph {
        font-size: 30px;
    }

    #canvasDiv {
        width: 250px;
    }

    #canvasDiv canvas {
        width: 90%;
    }

}